@media screen and (min-width: 56rem) { /* = 2*28. 2 cards take 2*10inner+4padding+4margin */
  #map {
    width: calc(100% - 2em);
    /* float: right; */
    margin: 1em;
  }
  #cards-panel {
    width: 50%;
  }
  #cards-canvas {
    height: 100%;
    overflow: scroll;
    max-width: 100%;
  }
}
#map {
  height: 100vh;
}
#details-map {
  height: 100%;
}

@media (max-width: 800px) {
  #map {
    height: 30vh;
  }
}


#cards-panel {
  clear: left;
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }
ul {
  margin: 0pt;
  padding: 0pt;
}

#logo {
  width: 3em;
  float:left;
  padding: 0.5em;
}
#sk-title {
  float: left;
  padding-left: 1.2em;
  font-size: larger;
  font-weight: bold;
}
#regionSelector {
  padding: 1.5em;
}

#footer {
  clear:both;
}

div::-webkit-scrollbar {
  display: none;
}
.selectedTag:hover {
  background-color: rgb(226, 111, 117);
}
.selectedTag {
  cursor: pointer;
  /*float: left;*/
  display: inline-block;
  background-color: rgb(87, 170, 87);
  margin: 0.2em;
  padding: 0.2em;
  border-radius: 0.3em;
}

#tagPanel .proposedTag {
  cursor: pointer;
  /*float: left;*/
  display: inline-block;
  background-color: rgb(128, 128, 128);
  margin: 0.2em;
  padding: 0.2em;
  border-radius: 1em;
  border-style: solid;
  border-color: grey;
  border-width: 0.1em;
  color: black;
}
.proposedTag {
  cursor: pointer;
  /*float: left;*/
  display: inline-block;
  background-color: orange;
  margin: 0.2em;
  padding: 0.2em;
  border-radius: 0.3em;
}
.tagValue {
  font-size:x-small;
}

article h1 {
  display: inline;
}

#edit-button {
  top: 0.1em;
  display: inline-block;
  position: relative;
  font-size: 2em;
  width:1.2em;
  height: 1.2em;
  border-radius: 1.5em;
  border: 0.03em;
  border-style: solid;
  color: rgb(196, 196, 196);
  text-decoration: none;
  margin-left: 1em;
}
#edit-button #pen {
  position: relative;
  top: -0.15em;
  left: 0.1em;
}
#edit-button :hover {
  color: black;
}
#similarInitiativesCanvas  {
  overflow: auto;
}
#suggestions {
  width: 100%;
}
#similarInitiativesCanvas > div {
  display: inline-block;
  width: 12em;
}

#unpublishedWarning {
  background-color: rgb(231, 135, 140);
  color:rgb(105, 12, 12);
  border-color: rgb(252, 114, 114);
  border-style: solid;
  border-width: 0.05em;
  border-radius: 0.2em;
  padding: 0.5em;
  margin: 1em;
  text-align: center;
  padding:1em;
}

.promotedInitiatives {
  flex:2;
}
.promotedInitiatives div {
  height: 100%;
}

.pr-3 {
  padding-right: 1rem !important;
}

#sk-root {
  background-color: #fff;
}

#welcomeMessage h1 {
  font-size: 1.5rem;
}

#loadMoreCardsButton {
  margin: auto;
  margin-top: 1rem;
}

#centerContainer {
  width: 100%;
  text-align: center;
}

#filters {
  text-align: right;
  margin-bottom: 0.6rem;
}

#helpUsBox {
  width:100%;
}
#helpUsBox img {
  width:100%;
  margin-top: 1rem;
}